<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawBezierPathWithPointArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC82AC0A1F3EC7F900874ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC82AC231F3EC7F900874ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC82AC2E1F3EC7F900874ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
